services:
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env

  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env